:root {
	--0-lives-color:	#D7C6C6;
	--1-lives-color:	#F2D4D4;
	--2-lives-color:	#F4EBCA;
	--3-lives-color:	#D4F2D7;
	--4-lives-color:	#D2F3FB;
	--5-lives-color:	#D1E9FF;
	--6-lives-color:	#D3DFFF;
	--7-lives-color:	#D6D3FF;
	--8-lives-color:	#DFCAFF;
	--9-lives-color:	#EFCAFF;
	--10-lives-color:	#FFFFFF;
}

body, input, button, select {
	font-family: "Interstate", "Overpass", sans-serif;
}

body {
	background-color: #FFFFFF;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

table {
	margin: auto;
}

td {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.number {
	text-align: right;
	font-family: "Consolas", monospace;
	padding-left: 5px;
	padding-right: 5px;
}

#counter {
	font-variant-numeric: tabular-nums;
}

th {
	background: #303389;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
}

.prize {
	background: #C2FFBF;
}

.safe {
	background: #FFFFFF;
}

.death {
	background: #F8B7BF;
}

.already-dead {
	background: #000000;
	color: #FFFFFF;
}

.gen-info {
	background: #FFFF9B;
}

.footer-prize {
	background: #A9F0A6;
}

.footer-safe {
	background: #CBCBCB;
}

.footer-death {
	background: #DF9EA6;
}

.footer-gen-info {
	background: #F8E28C;
}

.text_center {
	text-align: center;
}

.text_td {
	text-align: left;
	font-family: sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

details {
	text-align: left;
	border: 1px solid;
	max-width: 500px;
	margin: 3px auto;
	padding: 4px;
}

input[type="number"] {
	font-variant-numeric: tabular-nums;
	font-size: 100%;
}

.ld2_options {
	display: grid;
	grid-template-columns:  50px auto 50px auto;

	& label {
		text-align: left;
		padding: 2px
	}
}

#leaderboard tr td:is(:nth-of-type(1), :nth-of-type(3)) {
	text-align: center;
}

#leaderboard tr td:not(:nth-of-type(2)) {
	font-variant-numeric: tabular-nums;
}

footer {
	text-align: center;
	border-top: 2px solid;
	margin: 1em auto;
	padding: 1em 0;
	max-width: 800px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--0-lives-color:	#3d0808;
		--1-lives-color:	#9b0101;
		--2-lives-color:	#967500;
		--3-lives-color:	#00940f;
		--4-lives-color:	#037e9c;
		--5-lives-color:	#034786;
		--6-lives-color:	#0531aa;
		--7-lives-color:	#0e03aa;
		--8-lives-color:	#4802b1;
		--9-lives-color:	#7802aa;
		--10-lives-color:	#222;
	}

	body {
		background-color: #111;
		color: #fff;
	}

	a:link {
		color: #7583ff;
	}

	a:visited {
		color: #b575ff;
	}

	a:hover {
		color:  #a8b1ff;
	;
	}

	a:active {
		color: #ff6f6f;
	} 

	.prize {
		background: #194e15;
	}

	.safe {
		background: #222;
	}

	.death {
		background: #4e1118;
	}


	
}
