

table {
	margin: auto;
}

th {
	background: #303389;
	color: #FFF;
	padding: 2px 4px;
}

fieldset {
	max-width: 400px;
	margin: auto;
}

.simulator-results {
	table-layout: fixed;
	min-width: 600px;
	overflow: auto;
}

.simulator-results tr:nth-of-type(1) > th:nth-of-type(1) {
	width: 3ch;
}

.simulator-results tr:nth-of-type(1) > th:nth-of-type(2) {
	width: max-content;
}

.simulator-results tr:nth-of-type(1) > th:nth-of-type(3) {
	width: 3ch;
}


.simulator-results tr:nth-of-type(2) th {
	width: 4.5em;
}

#leaderboard td:not(:nth-of-type(2)) {
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#leaderboard td:is(:nth-of-type(1), :nth-of-type(3)) {
	text-align: center;
}


td {
	text-align: left;
	padding: 4px 4px;
}

.number {
	text-align: right;
	font-family: "Overpass Mono", "Consolas", monospace;
	padding-left: 15px;
	padding-right: 15px;
}


.prize {
	background: light-dark(#C2FFBF,#034600);
}

.prize-drp {
	background: light-dark(#fff5bf,#463300);
}

.safe {
	background: light-dark(#FFF,#222222);
}

.death {
	background: light-dark(#F8B7BF, #47010a);
}

.already-dead {
	background: light-dark(#000,#111);
	color: light-dark(#fff,#bbb);
}


.text_center {
	text-align: center;
}

.text_td {
	text-align: left;
	font-family: sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

