:root {
	font-family: "Overpass";
	color-scheme: light dark;

	--lives-0: light-dark(#D7C6C6, #6b5757);
	--lives-1: light-dark(#F2D4D4, #ae5555);
	--lives-2: light-dark(#F4EBCA, #99872e);
	--lives-3: light-dark(#D4F2D7, #4f9647);
	--lives-4: light-dark(#D2F3FB, #4f8c9e);
	--lives-5: light-dark(#D1E9FF, #487ebe);
	--lives-6: light-dark(#D3DFFF, #516abf);
	--lives-7: light-dark(#D6D3FF, #5854ba);
	--lives-8: light-dark(#DFCAFF, #8954ba);
	--lives-9: light-dark(#EFCAFF, #ae54ba);
	--lives-10: light-dark(#ffd7fd, #ba5484);
}

body {
	text-align: center;
	max-width: 60em;
	margin: auto;
	padding: 1em;
	background: light-dark(#FFF, #111);
	color: light-dark(#000, #FFF);
}

h1, h2, h3, p {
	margin: 0.1em 0;
}