h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

* {
	margin: auto;
	font-family: "Interstate", "Overpass", sans-serif;
}

td {
	text-align: right;
	font-family: "Consolas", monospace;
	padding-left: 15px;
	padding-right: 15px;
}

th {
	background: #303389;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
}

.prize {
	background: light-dark(#C2FFBF,#034600);
}

.prize-drp {
	background: light-dark(#fff5bf,#463300);
}

.safe {
	background: light-dark(#FFF,#222222);
}

.death {
	background: light-dark(#F8B7BF, #47010a);
}

.already-dead {
	background: light-dark(#000,#111);
	color: light-dark(#fff,#bbb);
}


.gen-info {
	background: light-dark(#9bc6ff, #002550);
}

.footer-prize {
	background: light-dark(#A9F0A6,#064904);
}

.footer-safe {
	background: light-dark(#CBCBCB, #5e5e5e);
}

.footer-death {
	background: light-dark(#DF9EA6, #3b050c);
}

.footer-gen-info {
	background: light-dark(#9bc6ff, #002550);
}

.text_center {
	text-align: center;
}

.text_td {
	text-align: left;
	font-family: sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

