h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

* {
	margin: auto;
	font-family: "Interstate", "Overpass", sans-serif;
}

table {
	table-layout: fixed;
	width: max(90%, 100em);
	margin: auto;
}

th {
	background: #303389;
	color: #FFFFFF;
	padding: 0 5px;
}

tr:nth-of-type(1) th:not([rowspan="2"]) {
	writing-mode: vertical-rl;
	text-align: right;
	padding: 5px 0;
	height: 80px;
}

th:nth-of-type(1) {
	width: 24em;
}

th:nth-of-type(2), th:nth-of-type(3) {
	width: 2em;
}


td {
	text-align: center;
	padding: 0 8px;
	font-variant-numeric: tabular-nums;
}

td:nth-of-type(1) {
	text-align: left;
	font-variant-numeric: lining-nums;
}

td:nth-of-type(2), td:nth-of-type(3) {
	text-align: right;
}

.number {
	text-align: right;
	font-family: "Consolas", monospace;
	padding-left: 15px;
	padding-right: 15px;
}




thead {
	position: sticky;
	top:2px;
}



.prize {
	background: #C2FFBF;
}

.safe {
	background: #FFFFFF;
}

.death {
	background: #F8B7BF;
}

.gen-info {
	background: #FFFF9B;
}

.footer-prize {
	background: #A9F0A6;
}

.footer-safe {
	background: #CBCBCB;
}

.footer-death {
	background: #DF9EA6;
}

.footer-gen-info {
	background: #F8E28C;
}

.text_center {
	text-align: center;
}

.text_td {
	text-align: left;
	font-family: sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

